@import 'search.css';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    /* height: 80px; */
    background-color: white;
}

.header-panel-left {
    display: flex;
    align-items: center;
    gap: 30px;
}

.header-panel-right {
    display: flex;
    align-items: center;
    gap: 50px;
    margin-right: 20px;
}

#user-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.user-image{
    width: 60px;
    height: 60px;
    background-color: slategray;
    border-radius: 100vmax;
}

#store-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    width: 160px;
    height: 50px;

    border-radius: 100vmax;
    border: none;

    background-color: #F6AD12;
    color: white;

    font-size: x-large;
    font-family: "Assistant";
    font-weight: 600;

}

@media only screen and (max-width: 550px) {
    .header {
        flex-direction: column;
    }

    .header-panel-right {
        flex-direction: column;
        /* border: 2px solid black; */
        background-color: white;
        width: 100%;
        z-index: 0;
    }
}