.selectable:hover{
  background: var(--color-light);
  cursor: pointer;
}

.aime-profile-card{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.aime-user-card {
  display: grid;
  /* grid-template-rows: repeat(3, 1fr); */
  grid-template-rows: auto auto 50px auto;
  
  background: var(--color-white);
  width: 500px;
  min-height: 200px;
  border-radius: var(--card-border-radius);
  /* min-width: 300px; */
  overflow: hidden;

}

.aime-user-card-top{
  display: flex;
  align-items: center;
  gap: 1rem;
  padding-left: 1.5rem;
  margin-top: 2rem;
}

.aime-user-card-top .profile-photo{
  display: grid;
  align-items: center;
  aspect-ratio: 1;
  width: 6rem;
  height: auto;
  /* background: #000; */
}

.aime-user-card-top > div:last-child{
  display: grid;
  gap: 4px;
}  

.aime-user-card-top .profile-photo img{
  clip-path: circle(30px);
  width: 100%;
}

.aime-user-fields{
  /* margin-top: 1.4rem; */
}

.aime-user-field{
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 1.5px solid #eee;
}

.aime-user-field div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.aime-user-field div span{
  font-size: 1.2rem;
}

.aime-user-field div svg{
  color: var(--color-dark);
}

.aime-user-field:last-child{
  border: none;
}

.aime-user-settings{
  grid-row: 4;
}


/* Details Style */
details{
  text-align: center;
  position: relative;
  background: #ade8;
  border-radius: 10px;
  border-bottom: 3px solid white;
  width: 300px;
  margin: 0 auto;
  cursor: pointer;
}

summary{
  border-radius: 10px;
  font-weight: 700;
  color: #26a;
  padding: 10px 5px;
}
summary:hover{
  background: #9cd;
}

details p {
  padding: 10px 5px;
  margin: 0 auto;
}
/* End Details Style */

/* .aime-user-card {
  background: rgb(208, 100, 193);
  width: 500px;
  height: 500px;
} */

/* @media (max-width: 870px) {
  
}

@media (max-width: 570px) {
  
} */